/* Body ______________________________- */

body {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 16px;
}

/* main _______________________________ */

.back-behind {
    height: 700px;
    background-image: url(img/netflix-backgr.jpg);
}

.overlay {
    height: 100%;
    background: rgba(7, 5, 21, 0.67);
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-inline: 3rem;
}

.netflix-logo {
    width: 175px;
}

.head-opt {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    justify-content: space-around;
}

.lang {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    width: 6.5rem;
    height: 2.25rem;
    text-align: center;
    font-size: 14px;
}

.login {
    font-size: 1.15rem;
    text-decoration: none;
    color: white;
    background-color: #e50914;
    border-radius: 5px;
    padding: 8px 19px;
}

/* top-int _________________________ */

.top-int {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    text-align: center;
    font-family: sans-serif;
    padding-top: 10rem;
}

.top-int h1 {
    font-size: 4rem;
    margin-block: 0;
}

.top-int > p {
    font-size: 1.65rem;
    margin-bottom: 0.5rem;
}

.moto p {
    font-size: 1.25rem;
}

.beggin {
    display: flex;
    justify-content: center;
}

.email-int {
    min-width: 450px;
    height: 60px;
    font-size: 16px;
    margin-right: 0.15rem;
}

.btn-int {
    background-color: #e50914;
    color: white;
    border: none;
    min-height: 60px;
    font-size: 1.7rem;
    padding: 0.5rem 3.5rem;
    cursor: pointer;
}