/* Body ______________________________- */

body {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 16px;
    background-color: black;
}

/* main _______________________________ */

main {
    border-bottom: 8px solid #222;
}

/* top-main_____________________________ */

.top-main{
    height: 700px;
    background-image: url(img/netflix-backgr.jpg);
    background-size: cover;
}

.back-behind {
    height: 100%;
    background: rgba(7, 5, 21, 0.67);
}

.overlay {
    height: 100%;
    max-width: 2000px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-inline: 3rem;
}

.netflix-logo {
    width: 175px;
}

.head-opt {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    justify-content: space-around;
}

.lang {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    width: 6.5rem;
    height: 2.25rem;
    text-align: center;
    font-size: 14px;
}

.login {
    font-size: 1.15rem;
    text-decoration: none;
    color: white;
    background-color: #e50914;
    border-radius: 5px;
    padding: 8px 19px;
}

/* top-int _________________________ */

.top-int {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    text-align: center;
    font-family: sans-serif;
    padding-top: 10rem;
}

.top-int h1 {
    font-size: 4rem;
    margin-block: 0;
}

.top-int > p {
    font-size: 1.65rem;
    margin-bottom: 0.5rem;
}

.moto p {
    font-size: 1.25rem;
}

.beggin {
    display: flex;
    justify-content: center;
}

.email-int {
    min-width: 450px;
    height: 60px;
    font-size: 16px;
    margin-right: 0.15rem;
}

.btn-int {
    background-color: #e50914;
    color: white;
    border: none;
    min-height: 60px;
    font-size: 1.7rem;
    padding: 0.5rem 3.5rem;
    cursor: pointer;
}

/* story-card_____________________________________- */

.story-card {
    background-color: black;
    border-bottom: 8px solid #222;
    padding: 70px 45px;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
}

.card-text {
    width: 50%;
    height: 100%;
    padding-right: 3rem;
}

.card-text h1 {
    font-size: 3.125rem;
}

.card-text p {
    font-size: 1.75rem;
    font-weight: 600;
}

.card-animation-container {
    display: flex;
    width: 50%;
}

.card-anim {
    position: relative;
    overflow: hidden;
}

.story-card-img {
    position: relative;
    z-index: 2;
    max-width: 100%;
}

.card-animation {
    position: absolute;
    left: 50%;
    max-height: 54%;
    max-width: 75%;
    top: 46%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.card-animation video {
    width: 100%;
}

