/* Body ______________________________- */

body {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 16px;
    background-color: black;
}

/* main _______________________________ */

main {
    border-bottom: 8px solid #222;
}

/* top-main_____________________________ */

.top-main{
    height: 700px;
    background-image: url(img/netflix-backgr.jpg);
    background-size: cover;
    border-bottom: 8px solid #222;
}

.back-behind {
    height: 100%;
    background: rgba(7, 5, 21, 0.67);
}

.overlay {
    height: 100%;
    max-width: 2000px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-inline: 3rem;
}

.netflix-logo {
    width: 175px;
}

.head-opt {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    justify-content: space-around;
}

.globe {
    position: relative;
    width: 7rem;
}

.globe::before{
    content: "\01F310";
    position: absolute;
    top: 22%;
    left: 7%;
}

.lang {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    width: 100%;
    height: 2.45rem;
    text-align: center;
    font-size: 14px;
    padding-inline: 1.75rem;
}


.login {
    font-size: 1.15rem;
    text-decoration: none;
    color: white;
    background-color: #e50914;
    border-radius: 5px;
    padding: 8px 19px;
}

/* top-int _________________________ */

.top-int {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    text-align: center;
    font-family: sans-serif;
    padding-top: 10rem;
}

.top-int h1 {
    font-size: 4rem;
    margin-block: 0;
}

.top-int > p {
    font-size: 1.65rem;
    margin-bottom: 0.5rem;
}

.moto p {
    font-size: 1.25rem;
}

.beggin {
    display: flex;
    justify-content: center;
}

.email-int {
    min-width: 450px;
    height: 60px;
    font-size: 16px;
    margin-right: 0.15rem;
}

.btn-int {
    background-color: #e50914;
    color: white;
    border: none;
    min-height: 60px;
    font-size: 1.7rem;
    padding: 0.5rem 3.5rem;
    cursor: pointer;
}

/* story-card_____________________________________- */

.story-card {
    border-bottom: 8px solid #222;
    padding: 70px 45px;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
}

.card-text {
    width: 50%;
    height: 100%;
    padding-inline: 3rem;
}

.card-text h1 {
    font-size: 3.125rem;
}

.card-text p {
    font-size: 1.75rem;
    font-weight: 600;
}

.card-animation-container {
    display: flex;
    width: 50%;
}

.card-anim {
    position: relative;
    overflow: hidden;
}

.story-card-img {
    position: relative;
    z-index: 2;
    max-width: 100%;
}

.card-animation {
    position: absolute;
    left: 50%;
    top: 46%;
    max-height: 54%;
    max-width: 75%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.card-animation video {
    width: 100%;
}

/* story-card flipped______________________________ */

.flipped .card-container {
    flex-flow: row-reverse;
}

.story-card-img-flipped {
    max-width: 100%;
}

.card-animation-flipped {
    display: flex;
    align-items: center;
    margin: 0 auto;
    min-width: 15rem;
    width: 60%;
    position: absolute;
    left: 20%;
    bottom: 6%;
    background: black;
    border: 2px solid gray;
    border-radius: 0.75rem;
    padding: .5em .75em;
}

.card-animationf-img {
    height: 5rem;
    max-width: 100%;
    padding-right: 1rem;
}

.card-animationf-text {
    flex-grow: 1;
}

.card-animationf-text p {
    margin-block: 0;
}

.text1 {
    color: #0071eb;
}

.card-animationf-gif {
    height: 3.75rem;
}

/* watch-on-device_________________________ */

.watch-on-device .card-animation {
    top: 35%;
    max-width: 65%;
}

/* questions _____________________________ */

.questions {
    text-align: center;
}

.questions-card {
    margin: 0 auto;
    max-width: 1100px;
    padding-block: 3rem;
}

.questions-card h1 {
    font-size: 3.125rem;
    margin-top: 0;
    margin-bottom: 2rem;
}

.questions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.question {
    margin-bottom: 0.5rem;
    width: 70%;
}

.more{/* hide input */
    position: absolute;
    right: 100vw;
}

.displayBtn{
    background-color: #303030;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding-inline: 1.5rem;
    font-weight: 600;
}

.displayBtn, .non-visible-text {
    font-size: 26px;
}

.non-visible-text {
    background-color: #303030;
    color: white;
    display: none;
    margin-top: 0.15rem;
    margin-bottom: 0;
    padding: 1rem;
    box-sizing: border-box;
    font-family: sans-serif;
    text-align: left;
    padding: 1.5rem;
}

.more:checked~.non-visible-text {
    display: block;/* show hidden tag */
}

/* footer_________________________________ */

.footer-card {
    max-width: 1100px;
    margin: 0 auto;
}

.footer-container {
    padding-block: 3rem;
    padding-inline: 5rem;
}

.footer-container a {
    color: #737373;
    text-decoration: none;
}

.footer-container a:hover {
    text-decoration: underline;
}

.footer-phone {
    color: #737373;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 2rem;
}

.footer-links {
    box-sizing: border-box;
    font-size: 13px;
    max-width: 1000px;
    margin-top: 0;
    margin-bottom: 2rem;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.footer-link-item {
    list-style: none;
    box-sizing: border-box;
    display: inline-block;
    width: 25%;
    margin-bottom: 1rem;
}

.footer-link-item a {
    font-size: 16px;
}

.footer-globe{
    position: relative;
}

.footer-globe::before{
    content: "\01F310";
    position: absolute;
    top: 30%;
    left: 2%;
}

.footer-lang {
    background-color: black;
    color: #737373;
    border: 1px solid #737373;
    border-radius: 3px;
    width: 9rem;
    height: 3.5rem;
    text-align: center;
    font-size: 16px;
    padding-inline: 3rem;
}

.footer-country {
    font-size: 14px;
    margin-top: 1.5rem;
    margin-bottom: 0;
    color: #737373;
}